img {
    max-width: 100%;
}
.user-profile-avatar {
    border-radius: 50% !important;
}
h1, h2, h3, h4, h5, h6, p, strong, i, s, a, b, span, li {
    font-family: "Open Sans","Seravek","Segoe UI","Verdana","PingFang SC","Lantinghei SC","Microsoft Yahei","Hiragino Sans GB","Microsoft Sans Serif","WenQuanYi Micro Hei","sans-serif";
    font-weight: 300;
    color: #3d3d3d;
    line-height: 1.1;
}
.section__body a {
    color: #5f9fd6;
    text-decoration: none;
}
.section__body a:active {
    color: #5f9fd6;
    text-decoration: none;
}
.section__body a:visited {
    color: #5f9fd6;
    text-decoration: none;
}
.section__body a:hover {
    color: #5f9fd6;
    text-decoration: underline;
}
blockquote {
    position: relative;
    color: #999;
    font-weight: 400;
    border-left: 3px solid #ddd;
    padding: 1rem;
    margin: .5rem 0 1rem;
    font-size: 14px;
    margin-left: 20px;
}